<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MEAN Skeleton</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Mean Skeleton</h1>
                <a href="/login" class="btn btn-n">Login</a>
                <a href="/signup" class="btn btn-n">Signup</a>
                <br><h4>OR</h4>
                <a href="/auth/google" class="btn btn-danger">Login via Google</a>
                <a href="/auth/facebook" class="btn btn-default">Login via Facebook</a>
            </div>
        </div>
    </body>
</html>
